<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="/css/navegation.css">
    <style>
    	body{
    		color:white;
    		text-align:center;
    		
    	}
    	table{
    		text-align:center;
    	}
    </style>
</head>
<body background="images/banner.jpg">
<div class="barranav" th:object="${session}">
	<div class="containernav">
		<h1>TooPots</h1>
		<p id="activity" class="navp">
			<a href="customer/activities" class="btn btn-success" role="button">Activities</a>
		</p>
		<div class="navright">
			<p class="navp" th:if="*{user == null}">
				<a href="/login" class="btn btn-warning" role="button" th:href="@{/login}">Login</a>
				<span class="navp"></span>
				<a href="/customer/signup" class="btn btn-info" role="button" th:href="@{/customer/signup}">Signup</a>
			</p>
			<p class="navp" th:unless="*{user == null}">
				Logged as <span th:text="*{user.username}"></span><span class="navp"></span> <a
		            	href="/logout" class="btn btn-danger" th:href="@{/logout}">Logout</a>
		    </p>
	    </div>
    </div>
</div>
<div th:replace="fragments/navegation" >...</div>
<h1>TooPots</h1>
<div class="list-group">
	<table class="table">
		<tr>
			<td><a href="login" class="btn btn-warning" role="button">Login</a></td>
		</tr>
		
		<tr>
			<td><a href="customer/signup" class="btn btn-danger" role="button">Signup</a></td>
		</tr>
		
		<tr>
			<td><a href="customer/activities" class="btn btn-success" role="button">Activities</a></td>
		</tr>
		
	</table>
</div>

</body>
</html>