<style type="text/css">
	
	* {
		margin:0px;
		padding:0px;
		
	}
	
	#header {
		margin:auto;
		width:500px;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	ul, ol {
		list-style:none;
	}
	
	.nav > li {
		float:right;
				align-self:center;
		margin-right:auto;
	}
	
	.nav li a {
		background-color:#d12424;
		color:#fff;
		text-decoration:none;
		padding:10px 12px;
		display:flex;
	}
	
	.nav li a:hover {
		background-color:#434343;
	}
	
	.nav li ul {
		display:none;
		position:absolute;
		min-width:140px;
		margin-left:auto;
		margin-right:auto;
		z-index:99;
	}
	
	.nav li:hover > ul {
		display:block;
	}
	
	.nav li ul li {
		position:relative;
	}
	
	.nav li ul li ul {
		right:-140px;
		top:5px;
	}
	
</style>

<div class="barranav" th:object="${session}">
	<div class="containernav">
		<span>
			<a class="logo" href="/" th:href="@{/}">
				<img alt="TooPots" th:src="@{/images/logo.jpg}">
			</a>
		</span>
		<p id="activity" class="navp" th:if="*{user == null || user.userType == 0}">
			<a href="/customer/activities" class="btn btn-success" role="button" th:href="@{/customer/activities}">Activities</a>
		</p>
		<p id="activity" class="navp" th:if="*{user == null || user.userType == 0}">
			<a href="/customer/activityTypes" class="btn btn-secondary" role="button" th:href="@{/customer/activityTypes}">Activity Types</a>
		</p>

		<p id="activity" class="navp" th:if="*{user != null && user.userType == 1}">
			<a href="/instructor/menu" class="btn btn-success" role="button" th:href="@{/instructor/menu}">Activities</a>
		</p>
		<div class="navright">
			<p class="navp" th:if="*{user == null}">
				<a href="/login" class="btn btn-danger" role="button" th:href="@{/login}">Login</a>
				<span class="navp"></span>
				<a href="/customer/signup" style="background-color:black; border-color:black;" class="btn btn-secondary" role="button" th:href="@{/customer/signup}">Signup</a>
			</p>
			
			
			<p class="navp" th:if="*{user != null}">
	    		<ul class="nav" th:if="*{user != null && user.userType == 0}">
					<li><a href="">User</a>
						<ul class="ulSpecific">
							<li><a href="/messages/list#tab1">My Messages</a></li>
							<li><a href="/customer/mySubscriptions">My Subscriptions</a></li>
							<li><a href="/customer/myReservations#tab1">My Reservations</a></li>
							<li><a href="/logout">Logout</a>
						</ul>
					</li>
				</ul>
				<ul class="nav" th:if="*{user != null && user.userType == 1}">
					<li><a href="">User</a>
						<ul class="ulSpecific">
							<li><a href="/messages/list#tab1">My Messages</a></li>
							<li><a href="/instructor/certificates#tab1">My Certificates</a></li>
							<li><a href="/logout">Logout</a>
						</ul>
					</li>
				</ul> 	
				<ul class="nav" th:if="*{user != null && user.userType == 2}">
					<li><a href="">User</a>
						<ul class="ulSpecific">
							<li><a href="/administrator/myRequests#tab1">My Requests</a></li>
							<li><a href="/administrator/certificateRequests#tab1">Pending Certificates</a></li>
							<li><a href="/logout">Logout</a>
						</ul>
					</li>
				</ul>	    
	    </div>
    </div>
</div>
