<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Activity Information</title>
	<meta charset="UTF-8"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="@{/css/navegation.css}">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="@{/css/basicpage.css}">
    <style>
    	table{
			width: 20%;
        	margin-left : 42%;
    	}
    </style>
</head>
<body>
	<div th:replace="fragments/navegation" ></div>
	<h2>Activity Info</h2>
	<table id="left" class="table table-striped">
		<tr>
			<td><label>Type:</label></td>
			<td th:text="${activity.activityType}"></td>

		</tr>
		<tr>
			<td><label>Name:</label></td>
			<td th:text="${activity.name}"></td>
		</tr>
		<tr>
			<td><label>Location:</label></td>
			<td th:text="${activity.location}"></td>
		</tr>
		<tr>
			
			<td><label>Date: </label></td>
			<td th:text="${activity.date}"></td>
		</tr>
		<tr>
			<td><label>Duration:</label></td>
			<td th:text="${activity.duration}"></td>
		</tr>
		<tr>
			<td><label>Vacancies:</label></td>
			<td th:text="${activity.vacancies}"></td>
		</tr>
		<tr>
			<td><label>Price:</label></td>
			<td th:text="${activity.price}"></td>
		</tr>
		<tr>
			<td><label>Description:</label></td>
			<td th:text="${activity.description}"></td>
		</tr>
	
		<tr>
			<td><label>Level:</label></td>
			<td th:text="${activity.level}"></td>
		</tr>
        <tr>
        	<td colspan="2"><a href="../myReservations" class="btn btn-info" role="button">Return</a></td>
        </tr>
        <tr>
        	<td colspan="2"><a href="/" class="btn btn-info" role="button">Inicio</a></td>
        </tr>
	</table>
	
</body>
</html>