<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>TooPots</title>
	<meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="@{/css/navegation.css}">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="@{/css/basicpage.css}">
</head>
<body background="../images/banner.jpg">
	<div th:replace="fragments/navegation" ></div>
	<div class="container">
		<table id="left" class="table table-striped black-table">
			<thead>
			<tr class="red-tr-head">
				<th>Name</th>
				<th></th>
				<th></th>
			</tr>
	        </thead>
	        <tbody>
	        	<tr th:each="type:${activityTypes}">
	        		<td th:text="${type.name}"></td>
	        		<td><a th:if="*{user!=null && user.userType == 0}"th:href="@{/customer/subscribe/{activityType}(activityType=${type.name})}" class="btn btn-danger" role="button">Subscribe</a></td>
	        		<td><a th:href="@{/customer/activitiesOfType/{activityType}(activityType=${type.name})}" class="btn btn-warning" role="button">See Activities</a></td>
	        	</tr>
	        </tbody>
		</table>		
	</div>
</body>
</html>