<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<style>
	.btn-success:hover {
		background-color:black;
		text-color: white;
		padding: 5px;
	}
</style>
<head>
	<title>TooPots</title>
	<meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
	<h1>Customer</h1>
	<h3>Activities</h3>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Date time</th>
			<th>Duration</th>
			<th>Vacancies</th>
			<th>Price</th>
			<th>Difficulty</th>
		</tr>
        </thead>
        <tbody>
        	<tr th:each="activity:${activities}">
        		<td th:text="${activity.name}"></td>
        		<td th:text="${activity.location}"></td>
        		<td th:text="${activity.dateTime}"></td>
        		<td th:text="${activity.duration}"></td>
        		<td th:text="${activity.vacancies}"></td>
        		<td th:text="${activity.price}"></td>
        		<td th:text="${activity.level}"></td>
        		<td><a th:href="@{/customer/bookActivity/{activity}{mail}(activity=${activity.activityId})(mail=${user.mail})}" class="btn btn-warning" role="button">Enrol</a></td>
        </tbody>
	</table>
</div>
</body>
</html>