<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<style>
	.btn-success:hover {
		background-color:black;
		text-color: white;
		padding: 5px;
	}
</style>
<head>
	<title>TooPots</title>
	<meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<h2>Enroll</h2>
	<form action="#" th:action="@{/customer/bookActivity/{id}(id=${activity.activityId})}" th:object="${reservation}" method="post">
<!-- Faltan cosas por poner pero la idea es esta: que al darle al enroll de la actividad se pase toda la información
	aquí y así poder rellenar el formulario para reservar la plaza-->
	
		<table>
			<tr>
				<td><label>Vacancies</label></td>
				<td><input type="number" th:field="*{vacancies}"></td>
			</tr>
			
			<tr>
				<td colspab="2"><input type="submit" value="Enroll"></td>
			</tr>
			<tr>
        		<td colspan="2"><a href="./activities" value="Return">Return</a></td>
        	</tr>
		</table>
	</form>