<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<style>
	.btn-success:hover {
		background-color:black;
		text-color: white;
		padding: 5px;
	}
</style>
<head>
	<title>TooPots</title>
	<meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<h2>Enroll</h2>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Date time</th>
			<th>Duration</th>
			<th>Vacancies</th>
			<th>Price</th>
			<th>Difficulty</th>
			<th>Description</th>
		</tr>
        </thead>
        <tbody>
        	<tr>
        		<td th:text="${activity.name}"></td>
        		<td th:text="${activity.location}"></td>
        		<td th:text="${activity.date}"></td>
        		<td th:text="${activity.duration}"></td>
        		<td th:text="${activity.vacancies}"></td>
        		<td th:text="${activity.price}"></td>
        		<td th:text="${activity.level}"></td>
				<td th:text="${activity.description}"></td>
			</tr>
        </tbody>
	</table>

	<form action="#" th:action="@{/customer/bookActivity/{id}(id=${activity.activityId})}" th:object="${reservation}" method="post">
	
		<table>
			<tr>
				<td><label>Vacancies</label></td>
				<td><input type="number" th:field="*{vacancies}" min="1" th:max="${activity.vacancies}"></td>
			</tr>
			
			
			
			<tr>
				<td colspab="2"><input type="submit" value="Enroll"></td>
			</tr>
			<tr>
        		<td colspan="2"><a href="../activities" value="Return">Return</a></td>
        	</tr>
		</table>
	</form>