<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TooPots</title>
<meta th:charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/navegation.css"
	th:href="@{/css/navegation.css}">
<link rel="stylesheet" type="text/css" href="/css/basicpage.css"
	th:href="@{/css/basicpage.css}">
<link rel="stylesheet" type="text/css" href="/css/tabs.css"
	th:href="@{/css/tabs.css}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/navegation" ></div>
<div class="id-site">
	<h2>Edit Account</h2>
	<form action="#" th:action="@{/customer/editAccount/{mail}(mail=${customer.mail})}" th:object="${customer}" method="post">
		<div class="add-activity">
			<table id="left" class="table table-stripped black-table">
				<tr>
					<td class="red-label"><label>Username:</label></td>
					<td><input class="bordered-input" type="text" id="username" th:field="*{username}"/></td>
				</tr>
				<tr>		
					<td class="red-label"><label>Name: </label></td>
					<td><input class="bordered-input" th:type="text" id="name" th:field="*{name}"/></td>
				</tr>
				<tr>
					<td class="red-label"><label>Surname:</label></td>
					<td><input class="bordered-input" type="text" id="surname" th:field="*{surname}"></td>
				</tr>
			</table>
		<input class="btn btn-success" type="submit" value="Edit Account" />
		<p style="margin-bottom:30px;"></p>
		</div>
	</form>
	<a type="button" class="btn btn-danger" th:href="@{/confirmationMessage/{mail}(mail=${customer.mail})}">Delete Account</a>
</div>
</body>
</html>
	