<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="@{/css/navegation.css}">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="@{/css/basicpage.css}">
</head>
<body background="../images/banner.jpg">
<div th:replace="fragments/navegation" ></div>
	<h2>SignUp</h2>
	<form action="#" th:action="@{/customer/signup}" th:object="${customer}" method="post">
		<table>
			<tr>
			   <td colspan="2"><a href="../instructor/signup" class="btn btn-danger" role="button">Signup as Instructor</a></td>
			</tr>
			
			<tr>
				<td><label>Mail:</label></td>
				<td><input type="text" th:field="*{mail}"></td>
			</tr>
			<tr>
				<td><label>Username:</label></td>
				<td><input type="text" th:field="*{username}"></td>
			</tr>
			<tr>
				<td><label>Password:</label></td>
				<td><input type="password" th:field="*{pwd}"></td>
			</tr>
			<tr>
				<td><label>Name:</label></td>
				<td><input type="text" th:field="*{name}"></td>
			</tr>
			<tr>
				<td><label>Surname:</label></td>
				<td><input type="text" th:field="*{surname}"></td>
			</tr>
			
		<tr>
            <td colspan="2"><input type="submit" value="Add Customer" /></td>
        </tr>
        
        <tr>
        	<td colspan="2"><a href="/" class="btn btn-info" role="button">Return</a></td>
        </tr>
		</table>
	</form>
</body>
</html>
	