<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Add Activity</title>
</head>
<body>
	<h2>New Activity</h2>
	<form action="#" th:action="@{/instructor/add}" th:object="${activity}" method="post">
	<table>
		<tr>
			<td><label>Type:</label></td>
			<td><select id="tipoActividad" th:field="*{activityType}">
					<option value="default" selected hidden>Select a type</option>
					<option th:each="tipo:${type}" th:value="${tipo.name}" th:text="${tipo.name}"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>Name:</label></td>
			<td><input type="text" th:field="*{name}"/></td>
		</tr>
		<tr>
			<td><label>Location:</label></td>
			<td><input type="text" th:field="*{location}"/></td>
		</tr>
		<tr>
			
			<td><label>Date: </label></td>
			<td><input type="date" class="form-control" id="date" th:field="*{date}"/></td>
		</tr>
		<tr>
			<td><label>Duration:</label></td>
			<td><input type="text" th:field="*{duration}"></td>
		</tr>
		<tr>
			<td><label>Vacancies:</label></td>
			<td><input type="text" th:field="*{vacancies}"></td>
		</tr>
		<tr>
			<td><label>Price:</label></td>
			<td><input type="number" th:field="*{price}"></td>
		</tr>
		<tr>
			<td><label>Description:</label></td>
			<td><input type="text" th:field="*{description}"></td>
		</tr>
	
		<tr>
			<td><label>Level:</label></td>
			<td><select id="nivel" th:field="*{level}">
					<option value="default" selected hidden>Select a level</option>
					<option value="Begginer">Begginer</option>
					<option value="Intermediate">Intermediate</option>
					<option value="Expert">Expert</option>
				</select>
			</td>
		</tr>
		
		<tr>
            <td colspan="2"><input type="submit" value="Add Activity" /></td>
        </tr>
        
        <tr>
        	<td colspan="2"><a href="./menu" value="Return">Return</a></td>
        </tr>
	</table>
	
	</form>
</body>
</html>