<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<style>
	.btn-success:hover {
		background-color:black;
		text-color: white;
		padding: 5px;
	}
</style>
<head>
	<title>TooPots</title>
	<meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <style>
    	body{
    		color:white;
    		    		text-align:center;
    		
    	}
    	table{
    		text-align:center;
    	}
    	form{
			width: 50%;
        	margin-left : 40%;
		}
    </style>
</head>
<body background="../images/banner.jpg">