<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="@{/css/navegation.css}">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="@{/css/basicpage.css}">
</head>
<body background="../images/banner.jpg">
<div th:replace="fragments/navegation" ></div>
	<h2 style="margin-top:2%; margin-bottom:0;max-width:390px;margin-left:auto;margin-right:auto;display:inherit;" class="h2-red">SignUp</h2>
	<form action="#" th:action="@{/instructor/signup}" th:object="${instructor}" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td><label>Mail:</label></td>
				<td><input class="bordered-input" type="text" id="mail" th:field="*{mail}"></td>
			</tr>
			<tr>
				<td></td>
				<td style="color:red;" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></td>
			</tr>
			<tr>
				<td><label>Name:</label></td>
				<td><input class="bordered-input" type="text" id="name" th:field="*{name}"></td>
			</tr>
			<tr>
				<td></td>
				<td style="color:red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
			</tr>
			<tr>
				<td><label>Surname:</label></td>
				<td><input class="bordered-input" type="text" id="surname" th:field="*{surname}"></td>
			</tr>
			<tr>
				<td></td>
				<td style="color:red;" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
			</tr>
			<tr>
				<td><label>Username:</label></td>
				<td><input class="bordered-input" type="text" id="username" th:field="*{username}"></td>
			</tr>
			<tr>
				<td></td>
				<td style="color:red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
			</tr>
			<tr>
				<td><label>Password:</label></td>
				<td><input class="bordered-input" type="password" id="pwd" th:field="*{pwd}"></td>
			</tr>
			<tr>
				<td></td>
				<td style="color:red;" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></td>
			</tr>
			<tr>
				<td><label>Bank Account:</label></td>
				<td><input class="bordered-input" type="text" id="bankAccount" th:field="*{bankAccount}"></td>
			</tr>
			<tr>
				<td></td>
				<td style="color:red;" th:if="${#fields.hasErrors('bankAccount')}" th:errors="*{bankAccount}"></td>
			</tr>
			
			<tr>
				<td colspan="2"><h3>Certificates:</h3></td>
			</tr>
			
			<tr>
				<td colspan="2"><input class="btn btn-warning" type="file" name="file"  id="file" multiple/></td>
			</tr>
			
			<tr>
	            <td colspan="2"><input class="btn btn-success" type="submit" value="Signup as Instructor" /></td>
	        </tr>
		</table>
	</form>
	<div style="margin-top: 10px;">
		<a href="/" class="btn btn-danger" role="button">Return Home</a>
    </div>
	<p style="margin-bottom:30px;"></p>
</body>
</html>
	