<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>TooPots</title>
	<meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="@{/css/navegation.css}">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="@{/css/basicpage.css}">
</head>
<body>
<div th:replace="fragments/navegation" ></div>
<h2 class="id-site">Update Activity</h2>
	<form action="#" th:action="@{/instructor/update/{id}(id=${activity.activityId})}" th:object="${activity}" method="post">
		<div class="add-activity">
		<table id="left" class="table table-stripped black-table">
			<tr>
			<td class="red-label"><label>Location:</label></td>
			<td><input class="bordered-input" id="location" type="text" th:field="*{location}"/></td>
		</tr>
		<tr>		
			<td class="red-label"><label>Date: </label></td>
			<td><input class="bordered-input" id="date" th:type="date" th:field="*{date}"/></td>
		</tr>
		<tr>
			<td class="red-label"><label>Duration:</label></td>
			<td><input class="bordered-input" id="duration" type="text" th:field="*{duration}"></td>
		</tr>
		<tr>
			<td class="red-label"><label>Vacancies:</label></td>
			<td><input class="bordered-input" id="vacancies" type="text" th:field="*{vacancies}"></td>
		</tr>
		<tr>
			<td class="red-label"><label>Price:</label></td>
			<td><input class="bordered-input" id="price" th:type="number" th:field="*{price}"></td>
		</tr>
		<tr>
			<td class="red-label"><label>Description:</label></td>
			<td><textarea class="bordered-input" id="description" type="text" th:field="*{description}"></textarea></td>
		</tr>
		<tr>
			<td class="red-label"><label>Level:</label></td>
			<td><select class="bordered-input" id="level" th:field="*{level}">
					<option value="default" selected hidden>Select a level</option>
					<option value="Begginer">Begginer</option>
					<option value="Intermediate">Intermediate</option>
					<option value="Expert">Expert</option>
				</select>
			</td>
		</tr>
		<tr><td></td><td></td></tr>
		</table>
		<input class="btn btn-success" type="submit" value="Update Activity" />
		<p style="margin-bottom:30px;"></p>
		</div>
	</form>
	<p style="margin-bottom:20px;"></p>
	<a th:href="@{/instructor/menu}" class="btn btn-danger" th:role="button">Return</a>
	<a href="/" class="btn btn-info" role="button">Home</a>
	<p style="margin-bottom:40px;"></p>
</body>
</html>
	