<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>TooPots</title>
	<meta th:charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="/css/navegation.css">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="/css/basicpage.css">
</head>
<body>
<div th:replace="fragments/navegation" ></div>
	<div class="container">
		<h1>Instructor</h1>
		<p>
			Su solicitud de registro como instructor esta siendo evaluada.
			Mientras puede consultar las actividades disponibles.
		</p>
		<a href="../../customer/activities" class="btn btn-info" th:role="button">Activities</a>
		<a href="/" class="btn btn-info" role="button">Inicio</a>
	</div>
</body>
</html>