body{
	color:white;
	text-align: center;
    background-image:url(/images/banner.jpg);
    background-position: center;
	background-repeat: round;
	background-attachment: fixed;
}
table{
	border-collapse: collapse;
    text-align:center;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(0,0,0,40);
    border-radius: 5px;
}

td{
	margin: 15px;
	padding: 15px;
}

.h2Red {
	background-color: red;
	color: white;
}

#left{
	text-align: left;
}
.w3-container{
	background-color:rgb(50,50,50);
}

.p-white{
		color: white;
}

.red-header{
	color: #fff !important;
	background-color: #f00 !important;
}