body{
	color:white;
	text-align: center;
	background-image:url(/images/banner.jpg);
    background-position: center;
	background-repeat: round;
	background-attachment: fixed;
	overflow: auto;
	min-width:480px;
}

table{
	border-collapse: collapse;
    text-align:center;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(0,0,0,40);
    border-radius: 5px;
}

td{
	margin: 15px;
	padding: 15px;
}

.h2Red {
	background-color: red;
	color: white;
}

#left{
	text-align: left;
}
.w3-container{
	background-color:rgb(50,50,50);
}

.p-white{
		color: white;
}

.p-red{
	color:red;
}

.red-header{
	color: #fff !important;
	background-color: #f00 !important;
}

.h2-red{
	background-color: red;
	color: white;
	display: inline-block;
	padding: 10px 10px 10px 10px;
}

.td-right{
	text-align: right;
}

.black-table{
	background-color:rgba(0,0,0,0.8);
}

.red-tr-head{
	background-color:rgba(255,0,0,0.8)
}

.table-title {
	background-color:rgb(50,50,50);
	padding:15px;
	margin:0;
	color:white;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.id-site{
	background-color:rgba(0,0,0,0.9);
	margin-left:0;
	margin-right:0;
	margin-bottom:30px;
	margin-top:0;
	padding-bottom:15px;
	padding-top:15px;
}

.short-input{
	height: 20px;
	width: 60px;
	border-radius:5px;
}

.red-label {
	width:0;
	background-color: rgba(255,0,0,0.8);
	text-align: right;
}

.bordered-input {
	border-radius:5px;
}

.little-black-container{
	display: inline-block;
	background-color:rgba(0,0,0,0.9);
	padding: 15px;
	border-radius: 5px;
}

.add-activity{
	background-color:rgba(0,0,0,0.9);
	display: inline-block;
}
