.tab-content {
    display: none;
}
.tab-content:target {
    display: block;
}

ul{
	display:flex;
}

.divCertificate{
	margin-left:10%;
	margin-right:10%;
}
.divTable{
	background-color:black;
}

#superUl{
	display:inline-flex;
}
