<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="@{/css/navegation.css}">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="@{/css/basicpage.css}">
</head>
<body>
<div th:replace="fragments/navegation" >...</div>
<div style="margin-top:18%;padding:20px;background-color:rgba(0,0,0,0.8);display:inline-block;">
	<div th:if="${message}">
		<span th:text="${message}"></span>
	</div>
	<p style="margin-top:15px;"></p>
	<p>This action cannot be undone.</p>
	<p><a href="/deleteAccount/{mail}(mail=${mail})" th:href="@{/deleteAccount/{mail}(mail=${mail})}" class="btn btn-danger" role="button">Delete Account</a></p>
	
	<p><a href="/" th:href="@{${return}}" role="button" class="btn btn-info">Return</a>
	<a href="/" th:href="@{/}" role="button" class="btn btn-secondary">Home</a></p>
</div>
</body>
</html>