<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="@{/css/navegation.css}">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="@{/css/basicpage.css}">
</head>
<body>
	<div th:replace="fragments/navegation" ></div>
    
    <form action="#" th:action="@{/login}" 
          th:object="${user}" method="post">
        <div>
	        <div>
	        	<h2 style="margin-top:10%; margin-bottom:0;max-width:330px;margin-left:auto;margin-right:auto;display:inherit;" class="h2-red">Login</h2>
	        </div>
	        <div>
				<table>
					<tr>
		            	<td class="td-right"><label>Mail:</label></td>
		            	<td>
		            		<input class="form_control bordered-input" type="text" th:field="*{mail}"/>
		            		<div class="error" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></div>
		            	</td>
		            </tr>
		            <tr>
		            	
		            	<td class="td-right">
		            		<label>Password:</label>
		            	</td>
		            	<td>
		            		<input class="form_control bordered-input" type="password" th:field="*{password}"/>
		            		<div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		            	</td>
			        </tr>
				</table>
			</div>
		</div>
		<div style="margin-top: 10px;">
			<input class="btn btn-success" type="submit" value="Login" />
        	<a href="/" class="btn btn-info" role="button">Home</a>
        </div>
    </form>
</body>
</html>
			