<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TooPots</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="@{/css/navegation.css}">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="@{/css/basicpage.css}">
</head>
<body>
<div th:replace="fragments/navegation" >...</div>
<div style="margin-top:18%;padding:20px;background-color:rgba(0,0,0,0.8);display:inline-block;">
	<div th:if="${message}">
		<span style=color:white th:text="${message}"></span>
	</div>
	<p style="margin-top:15px;"></p>
	<a href="${nextPage}" th:href="@{${nextPage}}" role="button" class="btn btn-secondary">Return</a>
</div>
</body>
</html>