<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>TooPots</title>
	<meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
    	  href="/css/navegation.css" th:href="@{/css/navegation.css}">
    <link rel="stylesheet" type="text/css"
    	  href="/css/basicpage.css" th:href="@{/css/basicpage.css}">
</head>
<body background="../images/banner.jpg">
<div th:replace="fragments/navegation" ></div>
<h1 class="id-site">My messages</h1>
<div class="container">
	
	<table id="left" class="table table-striped black-table">
		<thead>
		<tr class="red-tr-head">
			<th>Issue</th>
			<th>Text</th>
			<th></th>
		</tr>
        </thead>
        <tbody>
        	<tr>
        		<td th:text="${message.issue}"></td>
        		<td th:text="${message.text}"></td>
            	<td><a th:href="@{/message/archive/{id}(id=${message.messageId})}" class="btn btn-danger" role="button">Archive</a></td>
        	</tr>
        </tbody>
	</table>
	<p style="margin-bottom:40px;"></p>
</div>
</body>
</html>