<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<style>
	.btn-success:hover {
		background-color:black;
		text-color: white;
		padding: 5px;
	}
</style>
<head>
	<title>TooPots</title>
	<meta th:charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <style>
    	body{
    		color:white;
    		background-image:url(/../images/banner.jpg);  		    		
    	}
    	table{
    		text-align:center;
    	}
    	th, td{
    		background-color:black;
    		
    	}
    </style>
</head>
<body>
<div class="container">
	<h1>Administrator</h1>
		<h3>My requests</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Request Id</th>
					<th>Mail</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Status</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="request:${requests}">
					<td th:text="${request.requestId}"></td>
					<td th:text="${request.mail}"></td>
					<td th:text="${request.name}"></td>
					<td th:text="${request.surname}"></td>
					<td th:text="${request.status}"></td>
					<td><a th:href="@{/administrator/acceptRequest/{id}(id=${request.requestId})}"
						class="btn btn-warning" th:role="button">Accept Request</a></td>
					<td><a th:href="@{/administrator/rejectRequest/{id}(id=${request.requestId})}"
						class="btn btn-danger" th:role="button">Reject Request</a></td>
				</tr>
			</tbody>
		</table>
		<a href="/" class="btn btn-info" role="button">Inicio</a>
	</div>
</body>
</html>