<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TooPots</title>
<meta th:charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/navegation.css"
	th:href="@{/css/navegation.css}">
<link rel="stylesheet" type="text/css" href="/css/basicpage.css"
	th:href="@{/css/basicpage.css}">
<link rel="stylesheet" type="text/css" href="/css/tabs.css"
	th:href="@{/css/tabs.css}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:replace="fragments/navegation"></div>
	<div class="id-site">
		<h1>Administrator</h1>
		<h3>Requests</h3>
	</div>
	<div class="container">
		<ul id="superUl">
			<li><a href="#tab1" class="btn btn-warning">Pending requests</a></li>
			<li><a href="#tab2" class="btn btn-success">Approved requests</a></li>
			<li><a href="#tab3" class="btn btn-danger">Rejected requests</a></li>
		</ul>
		<div style="min-width:max-content">
			<div id="tab1" class="tab-content">
				<h2 class="table-title">Pending requests</h2>
				<table class="table table-striped black-table">
					<thead>
						<tr class="red-tr-head">
							<th>Request Id</th>
							<th>Mail</th>
							<th>Name</th>
							<th>Surname</th>
							<th>Status</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="request:${requests}">
							<td th:text="${request.requestId}"></td>
							<td th:text="${request.mail}"></td>
							<td th:text="${request.name}"></td>
							<td th:text="${request.surname}"></td>
							<td th:text="${request.status}"></td>
							<td><a class="btn btn-success" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning-acc'+${request.requestId}">
									Accept Request</a></td>
									<div class="modal" th:id="modal-warning-acc+${request.requestId}" >
									    <div class="modal-dialog">
									        <div class="modal-content">
									            <div class="modal-header">
									                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									                    <span aria-hidden="true">×</span></button>
									                <h2 class="modal-title">Accept Request</h2>
									            </div>
									            <div class="modal-body">
									                <h3>Are you sure you want to APROVE this request?</h3>
									                <p class="p-red">
													<i>Note that only the approved certificates attached to
														this request will be marked as approved. See "Show
														Certificates" by clicking its button.</i>
													</p>
									            </div>
									            <div class="modal-footer">
									                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
									                <a type="button" class="btn btn-success" th:href="@{/administrator/acceptRequest/{id}(id=${request.requestId})}">Accept</a>
									            </div>
									        </div>
									    </div>
									</div>
							<td><a class="btn btn-danger" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning-rej'+${request.requestId}">
									Reject Request</a></td>
									<div class="modal" th:id="modal-warning-rej+${request.requestId}" >
									    <div class="modal-dialog">
									        <div class="modal-content">
									            <div class="modal-header">
									                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									                    <span aria-hidden="true">×</span></button>
									                <h2 class="modal-title">Reject Request</h2>
									            </div>
									            <div class="modal-body">
									                <h3>Are you sure you want to REJECT this request?</h3>
									                <p class="p-red">
														<i>All certificates attached to this request will be
															marked as rejected.</i>
													</p>
									            </div>
									            <div class="modal-footer">
									                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
									                <a type="button" class="btn btn-success" th:href="@{/administrator/rejectRequest/{id}(id=${request.requestId})}">Reject</a>
									            </div>
									        </div>
									    </div>
									</div>
							<td><a
								th:href="@{/administrator/showCertificates/{mail}(mail=${request.mail})}"
								class="btn btn-secondary" th:role="button">Show Certificates</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tab2" class="tab-content">
				<h2 class="table-title">Approved requests</h2>
				<table class="table table-striped black-table">
					<thead>
						<tr class="red-tr-head">
							<th>Request Id</th>
							<th>Mail</th>
							<th>Name</th>
							<th>Surname</th>
							<th>Status</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="approvedRequest:${approvedRequests}">
							<td th:text="${approvedRequest.requestId}"></td>
							<td th:text="${approvedRequest.mail}"></td>
							<td th:text="${approvedRequest.name}"></td>
							<td th:text="${approvedRequest.surname}"></td>
							<td th:text="${approvedRequest.status}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tab3" class="tab-content">
				<h2 class="table-title">Rejected requests</h2>
				<table class="table table-striped black-table">
					<thead>
						<tr class="red-tr-head">
							<th>Request Id</th>
							<th>Mail</th>
							<th>Name</th>
							<th>Surname</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="rejectedRequest:${rejectedRequests}">
							<td th:text="${rejectedRequest.requestId}"></td>
							<td th:text="${rejectedRequest.mail}"></td>
							<td th:text="${rejectedRequest.name}"></td>
							<td th:text="${rejectedRequest.surname}"></td>
							<td th:text="${rejectedRequest.status}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<a href="/" class="btn btn-info" role="button">Home</a>
	</div>
</body>
</html>